<div class="container">
    <br>
    <div class="header">
        <img class="logo" src="../assets/img/coursera.jpg" alt="Coursera"/>
        <div class="title"><b>Serverless Dataprocessing with Dataflow</b>
            <br>
            Aug 2022
        </div>
    </div>
    <div class="details">

    </div>
    <div class="header">
        <img class="logo" src="../assets/img/coursera.jpg" alt="Coursera"/>
        <div class="title"><b>Data Engineering, Big Data and Machine Learning on GCP Specialization</b>
            <br>
            Jul 2022
        </div>
    </div>
    <div class="details">

    </div>
    <div class="header">
        <img class="logo" src="../assets/img/coursera.jpg" alt="Coursera"/>
        <div class="title"><b>Deep Learning Specialization</b>
            <br>
            Sep 2019
        </div>

    </div>
    <div class="details">

    </div>
    <br>
</div>
