<div class="container">
    <div class="header">
        <img class="logo" src="assets/img/km.jpg" alt="Knitmag"/>
        <div class="title"><b>Knitmag</b>
            <br>
            from Aug 2022
        </div>
    </div>
    <div class="details">

        <ul class="tasks">
            Personal project: search engine for old machine knitting magazines using DLA and OCR
        </ul>
    </div>
</div>
<br>
<div class="container">
    <div class="header">
        <img class="logo" src="assets/img/livo.jpg" alt="EVS"/>

        <div class="title"><b> European Voluntary Service @ Livonsaaren yhteisökylä</b>
            <br>
            Jun 2017 - Oct 2017
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Volunteer work in a non-profit cooperative garden</li>
            <li>Helping the community in common tasks in their sustainable village, building construction and
                maintenance
            </li>
        </ul>
        <a href="https://www.radioram.pl/articles/view/33232/Livonsaari-piec-miesiecy-na-finskiej-wyspie">Interview in
            polish Radio RAM about my 5 months adventure of living and working in Finland</a>
    </div>
</div>
<br>
