<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    
<div class="container">
    <div class="header">
            <img class="logo" src="../assets/img/toptal.png" alt="EY"/>
        <div class="title"><b>Senior Data Engineer @Toptal</b>
            <br>
            Oct 2022 - Now
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Developed Marketing Data Lake</li>
            <li>Migrated data pipelines from in-house built solution to data-composer(Airflow)</li>
            <li>Identified and improved expensive data processes to reduce infrastructure and cloud costs in GCP</li>
            <li>Introduced and implemented policies to improve company's Data Governance</li>
            <li>Continues data quality improvement</li>
            <li>Used tools & technologies: GCP, data-composer, Luigi, Python, BigQuery, Docker, Terraform, Grafana, Kafka, Fivetran, Jenkins</li>
        </ul>
    </div>
</div>   
<br>   
<div class="container">
    <div class="header">
            <img class="logo" src="../assets/img/ey_polska.png" alt="EY"/>
        <div class="title"><b>Senior Data Engineer @EY Polska</b>
            <br>
            Apr 2021 - Oct 2022
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Designed and built data architecture for ML-powered internal Document Search Engine tool
            </li>
            <li>Leveraged ML methods to process documents (anonymization, OCR, deduplication)</li>
            <li>Used tools & technologies: Airflow, Python, Postgres, Azure Data Lake, SQL, FastAPI, Docker, Kubernetes, RabbitMQ, ElasticSearch </li>
        </ul>
    </div>
</div>
<br>
<div class="container">
    <div class="header">
            <img class="logo" src="../assets/img/gitlab.jpeg" alt="GitLab"/>
        <div class="title"><b>Data Engineer @Gitlab</b>
            <br>
            Feb 2020 - Nov 2020
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Built data pipelines for internal and external data sources and developed in-house
                DWH system
            </li>
            <li>Maintained the data warehouse with timely and quality data </li>
            <li>Developed company's Finance data models (Kimball methodology)</li>
            <li>Used tools & technologies: Airflow, Python, Snowflake, DBT, Gitlab, Stitch/Fivetran, Kubernetess</li>
        </ul>
    </div>
</div>
<br>
<div class="container">
    <div class="header">
            <img class="logo" src="../assets/img/side.jpeg" alt="Side.co"/>
        <div class="title"><b> Data Engineer (Contractor) @Side.co</b>
            <br>
            Sep 2018 - Jul 2019
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Developed ETL pipelines for internal and external data sources and developed in-house
                DWH system
            </li>
            <li>Developed Airflow plugin to automate Sales' team day-to-day data operations</li>
            <li>Improved the company's dispatching process by automating worker to task assignment </li>
            <li>Used tools & technologies: Airflow, Python, Postgres, Gitlab CI/CD</li>
        </ul>
    </div>
</div>
<br>
<div class="container ">

    <div class="header">
<!--        <a href="https://www.compucorp.co.uk/">-->
            <img class="logo" src="../assets/img/compucorp.png" alt="Compucorp Ltd"/>
<!--        &lt;!&ndash;&ndash;&gt;</a>-->
        <div class="title"><b> Data Integration Engineer (Contractor) @CompuCorp Ltd.</b>
            <br>
            Apr 2018 - Sep 2018
        </div>
    </div>

    <div class="details">
        <ul class="tasks">
            <li>Built & maintained data transformation pipelines for injecting client data into CiviCRM</li>
            <li>Used tools: Python, SQL, Airflow, Pentaho, MySQL</li>
        </ul>
    </div>
</div>
<br>
<div class="container">
    <div class="header">
        <img class="logo" src="../assets/img/foodora.png" alt="Foodora"/>
        <div class="title"><b> Datawarehouse Engineer @Foodora</b>
            <br>
            Nov 2015 - Jun 2017
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Developed and maintained the company's in-house DWH system, integrated data from internal and 3rd party APIs</li>
            <li>Developed daily billing process to report all transactions into external Order Management System
            </li>
            <li>Developed ML-powered internal tools: Sales Lead Generator and Vendor Backend Issue Discovery</li>
            <li>Used tools: Python, SQL, Postgres, Redshift, Jenkins</li>
        </ul>
    </div>
</div>
<br>
<div class="container">
    <div class="header">
        <img class="logo" src="../assets/img/rocket.png" alt="Rocker Internet"/>
        <div class="title"><b> Business Intelligence Trainee @Rocket Internet</b>
            <br>
            May 2015 - Oct 2015
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Building a multi-client datawarehouse system for the roll-out of an international e-Commerce company
                portfolio
            </li>
            <li>Developed, optimized and monitored ETL processes, integrated data sources for various
                portfolio companies as Foodora, Delivery Hero
            </li>
            <li>Used tools: Python, SQL, Postgres, BigQuery, Jenkins</li>
        </ul>
    </div>
</div>
<br>
<div class="container">
    <div class="header">
        <img class="logo" src="../assets/img/cs.png" alt="Credit Suisse"/>
        <div class="title"><b>Data / Systems Analyst @Credit Suisse</b>
            <br>
            Feb 2014 - Apr 2015
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Worked with stakeholders and PMs to gathering and analyze business requirements, prepare solution design and technical
                documentation
            </li>
            <li>Documentation of application flows and process design</li>
        </ul>
    </div>
</div>
<br>
<div class="container">
    <div class="header">
        <img class="logo" src="../assets/img/cs.png" alt="Credit Suisse"/>
        <div class="title"><b>Developer @EADC Credit Suisse</b>
            <br>
            Jul 2011 - Jun 2014
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Development of Key Risk Indicators Reporting tool</li>
            <li>Development and maintenance of Access/VBA tools and Excel automations</li>
        </ul>
    </div>
</div>
<br>
</body>
</html>
