<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    
<div class="container">
    <div class="header">
            <img class="logo" src="../assets/img/toptal.png" alt="EY"/>
        <div class="title"><b>Senior Data Engineer @Toptal</b>
            <br>
            Oct 2021 - Now
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Developing batch & real-time analytical solutions, prototypes, and proofs of concept for selected solutions</li>
            <li>Implement complex analytical projects with a focus on collecting, managing, analyzing, and visualizing data.</li>
            <li>Used tools & technologies: GCP, data-composer, Luigi, Python, BigQuery, Docker </li>
        </ul>
    </div>
</div>    
  
<br>
    
<div class="container">
    <div class="header">
            <img class="logo" src="../assets/img/ey_polska.png" alt="EY"/>
        <div class="title"><b>Senior Data Engineer @EY Polska</b>
            <br>
            Apr 2021 - Oct 2022
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Designing and building data pipelines for internal tools to help the organization efficiently search, analyze, and understand documents.
            </li>
            <li>The platform built leverages ML methods to process documents (anonymization, OCR, deduplication)</li>
            <li>Used tools & technologies: Airflow, Python, Postgres, Azure Data Lake, SQL, FastAPI, Docker, Kubernetes, RabbitMQ, ElasticSearch </li>
        </ul>
    </div>
</div>

<br>

<div class="container">
    <div class="header">
            <img class="logo" src="../assets/img/gitlab.jpeg" alt="GitLab"/>
        <div class="title"><b>Data Engineer @Gitlab</b>
            <br>
            Feb 2020 - Nov 2020
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Building data pipelines for internal and external data sources and developing in-house
                DWH system
            </li>
            <li>Maintain the data warehouse with timely and quality data </li>
            <li>Developing data models using Kimball methodology</li>
            <li>Used tools & technologies: Airflow, Python, Snowflake, DBT, Gitlab</li>
        </ul>
    </div>
</div>

<br>

<div class="container">
    <div class="header">
            <img class="logo" src="../assets/img/side.jpeg" alt="Side.co"/>
        <div class="title"><b> Data Engineer (Contractor) @Side.co</b>
            <br>
            Sep 2018 - Jul 2019
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Building ETL pipelines for internal and external data sources and developing in-house
                DWH system
            </li>
            <li>Development of Salesforce plugin for Airflow to automate Sales' day-to-day data operations</li>
            <li>Improvements to dispatching process by automating sider to task assignment</li>
        </ul>
    </div>
</div>

<br>

<div class="container">

    <div class="header">
<!--        <a href="https://www.compucorp.co.uk/">-->
            <img class="logo" src="../assets/img/compucorp.png" alt="Compucorp Ltd"/>
<!--        &lt;!&ndash;&ndash;&gt;</a>-->
        <div class="title"><b> Data Integration Engineer (Contractor) @CompuCorp Ltd.</b>
            <br>
            Apr 2018 - Sep 2018
        </div>
    </div>

    <div class="details">
        <ul class="tasks">
            <li>Building & maintenance of data transformation pipelines for injecting client data into CiviCRM</li>
        </ul>
    </div>
</div>

<br>

<div class="container">
    <div class="header">
        <img class="logo" src="../assets/img/foodora.png" alt="Foodora"/>
        <div class="title"><b> Datawarehouse Engineer @Foodora</b>
            <br>
            Nov 2015 - Jun 2017
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Development and maintanance of in-house DWH system</li>
            <li>Integration of 3rd party APIs</li>
            <li>Development of daily billing process to report all transactions into external Order Management System
            </li>
            <li>Machine Learning projects: Sales Lead Generator and Vendor Backend Issue Discovery</li>
            <li>Monitoring of daily Data-Workflows</li>
        </ul>
    </div>
</div>

<br>

<div class="container page-break">
    <div class="header">
        <img class="logo" src="../assets/img/rocket.png" alt="Rocker Internet"/>
        <div class="title"><b> Business Intelligence Trainee @Rocket Internet</b>
            <br>
            May 2015 - Oct 2015
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Building a multi-client datawarehouse system for the roll-out of an international e-Commerce company
                portfolio
            </li>
            <li>Developing, optimizing and monitoring of ETL processes, integration of data sources for various
                portfolio companies as Foodora, Delivery Hero
            </li>
        </ul>
    </div>
</div>

<br>

<div class="container">
    <div class="header">
        <img class="logo" src="../assets/img/cs.png" alt="Credit Suisse"/>
        <div class="title"><b>Data / Systems Analyst @Credit Suisse</b>
            <br>
            Feb 2014 - Apr 2015
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Gathering and analyzing business requirements, solution design and preparation of technical
                documentation
            </li>
            <li>Production support - data analysis and investigation by querying underlying databases</li>
            <li>Preparation of database metrics reports</li>
            <li>Documentation of application flows and process design in form of UML diagrams</li>
        </ul>
    </div>
</div>

<br>

<div class="container">
    <div class="header">
        <img class="logo" src="../assets/img/cs.png" alt="Credit Suisse"/>
        <div class="title"><b>Develope)
            EADC Credit Suisse</b>
            <br>
            Jul 2011 - Jun 2014
        </div>
    </div>
    <div class="details">
        <ul class="tasks">
            <li>Development of Key Risk Indicators Reporting tool</li>
            <li>Development and maintenance of Access/VBA tools and Excel automations</li>
        </ul>
    </div>
</div>

<br>
</body>
</html>
